.homepage {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  &__content {
    position: relative;
  }
  &__character {
    &--main {
      background: url('../../images/light.png') center center / cover no-repeat;
      @media (max-width: 767px) {
        max-width: 300px;
      }
    }
    &--big {
      max-width: 300px;
      @media (max-width: 991px) {
        max-width: 200px;
      }
      @media (max-width: 767px) {
        max-width: 300px;
      }
    }
    &--small {
      max-width: 200px;
      @media (max-width: 991px) {
        max-width: 130px;
      }
      @media (max-width: 767px) {
        max-width: 220px;
      }
    }
  }
}
