.homepage {
  position: relative;
  min-height: 100vh;

  &__content {
    position: relative;
  }
  &__character {
    &--big {
      max-width: 300px;
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
    &--small {
      max-width: 200px;
      @media (max-width: 992px) {
        max-width: 170px;
      }
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
  }
}
