.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background-color: blue;
  background-image: url('./images/background.jpg');
  background-position: 50% 0px;
  background-repeat: repeat-y;
  animation: background-slide 3s linear infinite;
}

@keyframes background-slide {
  0% {
    background-position: 50% 0px;
  }
  100% {
    background-position: 50% -631px;
  }
}
