// config
$background-image-path: './images/background.jpg';
$background-image-color: #000;
$background-image-height: 631px;
$background-slide-time: 10s;

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: $background-image-color;
  background-image: url($background-image-path);
  background-position: 50% 0px;
  background-repeat: repeat-y;
  animation: background-slide $background-slide-time linear infinite;
}

@keyframes background-slide {
  0% {
    background-position: 50% 0px;
  }
  100% {
    background-position: 50% -1 * $background-image-height;
  }
}
